Repository hojas/ant-design-vue-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint:script, pnpm run lint:style

fix(deps): add lint-staged
  package.json
  pnpm-lock.yaml
Due: none

chore(cz): add cz
  .czrc
  .husky/prepare-commit-msg
  package.json
  pnpm-lock.yaml
Due: none

feat(page): add login page
  .env.development
  .lintstagedrc
  components.d.ts
  package.json
  pnpm-lock.yaml
  src/components/category/category-modal.vue
  src/hooks/useLogin.ts
  src/pages/login/index.vue
  src/router.ts
  src/services/auth.ts
  src/utils/axios.ts
  vite.config.ts
Due: pnpm run lint:script, pnpm run lint:style

feat(module): add article module
  .dockerignore
  .npmrc
  Dockerfile
  components.d.ts
  docker-compose.yml
  nginx.conf
  package.json
  pnpm-lock.yaml
  src/components/article/article-modal.vue
  src/components/article/category-select.vue
  src/components/article/remove-article-modal.vue
  src/components/category/category-modal.vue
  src/components/category/remove-category-modal.vue
  src/hooks/article/useArticle.ts
  src/hooks/article/useArticleForm.ts
  src/hooks/category/useCategory.ts
  src/hooks/useLogin.ts
  src/hooks/useModel.ts
  src/hooks/useRole.ts
  src/hooks/useUser.ts
  src/pages/article/index.vue
  src/pages/login/index.vue
  src/pages/role/index.vue
  src/pages/user/index.vue
  src/router.ts
  src/services/article.ts
  src/services/auth.ts
  src/services/category.ts
  src/services/role.ts
  src/services/user.ts
  src/types/pagination.ts
  src/utils/axios.ts
  tsconfig.json
Due: pnpm run lint:script, pnpm run lint:style

feat(category): complete category module
  .lintstagedrc
  .prettierrc
  components.d.ts
  package.json
  pnpm-lock.yaml
  src/components/category/category-modal.vue
  src/hooks/category/useCategoryForm.ts
  src/hooks/useUser.ts
  src/pages/category/index.vue
  src/services/category.ts
  stylelint.config.js
  vite.config.ts
Due: pnpm run lint:script, pnpm run lint:style

fix(article): show category and author
  README.md
  index.html
  src/hooks/article/useArticle.ts
  src/pages/article/index.vue
  vite.config.ts
Due: pnpm run lint:script, pnpm run lint:style

feat(article): article content page
  .lintstagedrc
  components.d.ts
  package.json
  pnpm-lock.yaml
  src/app.vue
  src/components/ui/markdown-editor.vue
  src/hooks/article/useArticle.ts
  src/hooks/useRemark.ts
  src/pages/article/content.vue
  src/pages/article/index.vue
  src/router.ts
  src/services/article.ts
  tsconfig.json
Due: pnpm run lint:script, pnpm run lint:style

chore(deps): upgrade deps
  Dockerfile
  package.json
  pnpm-lock.yaml
Due: none

fix(tailwindcss): use tailwindcss
  .env.development
  .env.production
  .eslintrc.js
  Dockerfile
  components.d.ts
  docker-compose.yml
  package.json
  pnpm-lock.yaml
  postcss.config.js
  src/app.vue
  src/components/ui/markdown-editor.vue
  src/main.ts
  src/pages/article/content.vue
  src/services/auth.ts
  src/styles.css
  tailwind.config.js
  vite.config.ts
  windi.config.ts
Due: pnpm run lint:script, pnpm run lint:style

fix(hooks): fix useArticleForm
  .npmrc
  components.d.ts
  package.json
  pnpm-lock.yaml
  src/hooks/article/useArticleForm.ts
Due: pnpm run lint:script

fix(docker-compose): add env
  docker-compose.yml
Due: none

fix(dockerfile): fix Dockerfile
  docker-compose.yml
  nginx.conf
Due: none

fix(dockerfile): fix port
  Dockerfile
Due: none

fix(base): add base path
  Dockerfile
  docker-compose.yml
  src/router.ts
  vite.config.ts
Due: pnpm run lint:script

fix(dockerfile): fix Dockerfile
  Dockerfile
  docker-compose.yml
  nginx.conf
  vite.config.ts
Due: pnpm run lint:script

fix(docker-compose): fix domain
  docker-compose.yml
Due: none

fix(dockerfile): fix Dockerfile
  Dockerfile
  package.json
Due: none

fix(article): fix article content
  Dockerfile
  package.json
  pnpm-lock.yaml
  src/app.vue
  src/hooks/useAuth.ts
  src/pages/article/content.vue
  src/pages/article/index.vue
  src/pages/login/index.vue
  src/router.ts
  src/services/auth.ts
  src/utils/axios.ts
  vite.config.ts
Due: pnpm run lint:script, pnpm run lint:style

feat(comment): add comment
  .husky/commit-msg
  .husky/pre-commit
  .husky/prepare-commit-msg
  docker-compose.yml
  package.json
  pnpm-lock.yaml
  src/hooks/useApp.ts
  src/hooks/useComment.ts
  src/main.ts
  src/pages/comment/index.vue
  src/router.ts
  src/services/article.ts
  src/services/comment.ts
  src/store/auth.ts
  src/store/index.ts
  src/types/pagination.ts
  vite.config.ts
Due: pnpm run lint:script, pnpm run lint:style

fix(docker-compose): fix network
  docker-compose.yml
Due: none

fix(deps): upgrade deps
  .env.production
  Dockerfile
  README.md
  components.d.ts
  docker-compose.yml
  package.json
  pnpm-lock.yaml
  src/pages/article/index.vue
  src/router.ts
  vite.config.ts
Due: pnpm run lint:script, pnpm run lint:style

chore(license): use MIT license
  LICENSE
  README.md
  package.json
  pnpm-lock.yaml
Due: none

Path conditions:
  pnpm run lint:script: any of: *.{js,ts,tsx,vue}
  pnpm run lint:style: any of: *.{vue,css,scss}
